.menu-title{
    color: white;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    transition: color .3s;
    padding: 0 10px;
}

.header-logo{
    height: 50px;
    width: auto;
}
