[nz-carousel-content] {
  img{
    height: 200px;
    width: 100%;
  }

  element.style {
    position: relative;
    height: 200px;
    width: 100%;
  }
}

:host ::ng-deep {
  .ant-carousel .slick-dots-bottom {
    bottom: 22px;
  }

  .ant-carousel .slick-dots li button {
    font-size: 0;
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background-color: grey;
    opacity: 1;
  }
}
