<nz-carousel nzAutoPlay style="height: 450px;">
  @for (item of list; track item) {
    <div nz-carousel-content>
      <img [src]="item.src">
    </div>
  }
</nz-carousel>

<div class="home-content">
  <h2 class="text-center">网校课程</h2>
  <h4 class="text-center">精选网校课程，满足你的学习兴趣</h4>

  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="20">
      @for (item of courseList; track item; let idx = $index) {
        <button nz-button nzType="text" [class]="idx===selectIndex? 'course-type bg':''"
        (click)="handleSelect(idx, item.children)">{{item.type}}</button>
      }
    </div>
    <div nz-col class="gutter-row" [nzSpan]="4">
      <!-- ngModel needs FormsModule -->
      <nz-segmented [nzOptions]="options" [(ngModel)]="index"></nz-segmented>
    </div>
  </div>

  <div class="btn-wrapper" nz-flex [nzGap]="'middle'" nzWrap="wrap">
    @for(course of courseInfo; track course) {
      <nz-card nzHoverable style="width:264px" [nzCover]="coverTemplate" [nzActions]="[actionSetting]">
        <nz-card-meta [nzTitle]="course.name"></nz-card-meta>
      </nz-card>

      <ng-template #coverTemplate>
        <img [src]="course.url" />
      </ng-template>


        <ng-template #actionSetting>
          <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="8">
              <nz-icon style="margin-left:10px" nzType="usergroup-delete" nzTheme="outline" />
              <span>{{course.count}}</span>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
              <nz-icon style="margin-left:10px" nzType="comment" nzTheme="outline" />
              <span>{{course.comments}}</span>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="8">
              <span [style.color]="course.isFree?'#43bc60':'#ed3e3e'" class="price-title">{{course.isFree?'免费':course.price}}</span>
            </div>
          </div>
      </ng-template>
    }
  </div>
</div>
