[nz-carousel-content] {
  img{
    height: 450px;
    width: 100%;
  }
}

:host ::ng-deep {
  .ant-carousel .slick-dots-bottom {
    bottom: 22px;
  }

  .ant-carousel .slick-dots li button {
    font-size: 0;
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background-color: grey;
    opacity: 1;
  }
}

.home-content{
  h2{
    text-align: center;
  }
  h4{
    text-align: center;
    color: #919191;
  }
  margin: 30px 260px;

  .course-type{
    background: #81d867;
    color: white;
  }
}
